= form_tag treatments_path, method: :get do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz nazwę lub opis zabiegu', class: 'form-control', size: 23
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'
