.panel.panel-default
  .panel-heading Kontakt
  .panel-body
    .row
      .col-md-8
        %table.table
          %thead.table-centered
            %tr
              %th Mapa dojazdu
          %tbody.table-centered
            %tr
              %td= link_to image_tag("map.png", width: '600'), image_path('map.png')
      .col-md-4
        %table.table
          %thead.table-centered
            %tr
              %th Informacje kontaktowe
          %tbody.table-centered
            %tr
              %td Veterinary Clinic
            %tr
              %td ul. Kilińskiego 6
            %tr
              %td 31-272 Kraków
            %tr
              %td tel. (+48 22) 12345678
            %tr
              %td tel. kom. 123456789
            %tr
              %td fax (+48 22) 12345670
            %tr
              %td NIP: 1234567890
            %tr
              %td veterinary.clinic@example.com
