.panel.panel-default
  .panel-heading Contact
  .panel-body
    .row
      .col-md-8
        %table.table
          %thead.table-centered
            %tr
              %th Accéder à la clinique
          %tbody.table-centered
            %tr
              %td= link_to image_tag("map.png", width: '600'), image_path('map.png')
      .col-md-4
        %table.table
          %thead.table-centered
            %tr
              %th Information de contact
          %tbody.table-centered
            %tr
              %td
            %tr
              %td Clinique Vétérinaire de Saint Junien
            %tr
              %td ZI de la Croix Blanche
            %tr
              %td 87200 SAINT JUNIEN
            %tr
              %td tel. 05 55 02 17 52
            %tr
              %td 
            %tr
              %td fax 05 55 02 68 28
            %tr
              %td NIP: 1234567890
            %tr
              %td clinvet-stjunien@wanadoo.Fr
