.row
  .col-md-2
  .col-md-8
    .panel.panel-default
      .panel-heading Pomoc
      .panel-body
        - if current_user.nil?
          .alert.alert-success.help_page= link_to "Przypomnienie hasła.", new_password_path(User)
          .alert.alert-success.help_page.help_page= link_to "Ponowne wysłanie instrukcji odblokowania konta.", new_unlock_path(User)
        .alert.alert-success.help_page= link_to "Ponowne wysłanie potwierdzenia adresu email.", new_confirmation_path(User)
  .col-md-2
