<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      Vous avez été enregistré avec succès,
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      Pour vous connecter suivez ce lien: <%= @url %>.
    </p>
  </body>
</html>
