%h2 User profile

%table
  %tbody
    %tr
      %td= image_tag user.gravatar_url(size: 100)
      %td= "Email: #{user.email}"



= link_to "User edit profile", edit_user_registration_path, class: "btn btn-success"
