= form_tag user_appointments_path(user), method: :get do
  .form-inline
    = text_field_tag :search, params[:search], placeholder: 'Wpisz datę wizyty', class: 'form-control'
    = submit_tag "Szukaj", name: nil, class: 'btn btn-default'
    .pull-right
      = link_to 'Nowa wizyta', new_user_appointment_path(user), class: "btn btn-default"
