%p
  Witaj #{@resource.email}!
%p Została zgłoszona prośba zmiany hasła. Można to zrobić klikając w link poniżej:
%p= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeśli nie zgłaszałeś/łaś zmiany hasła zignoruj proszę tą wiadomość.
%p Twoje hasło nie zostanie zmienione jeśli nie klikniesz w powyższy link.
