%p
  Bienvenue #{@resource.email}!
%p Vous avez demandé à changer votre mot de passe. Vous pouvez le faire en cliquant sur le lien ci-dessous:
%p= link_to 'Changez votre mot de passe', edit_password_url(@resource, reset_password_token: @token)
%p Si vous ne désirez pas changer votre mot de passe, ignorez ce message.
%p Votre mot de passe ne sera pas modifié si vous cliquez sur le lien ci-dessus link.
