%p
  Witaj #{@resource.email}!
%p Twoje konto zostało zablokowane z powodu zbyt dużej liczby niepowodzeń logowania.
%p Kliknij na link poniżej aby odblokować konto:
%p= link_to 'Odblokuj konto', unlock_url(@resource, unlock_token: @token)
